body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
  width: 75%;
  background-color: greenyellow;
  perspective: 1000px;
}
.card24 {
  border: 2px solid black;
  width: 10%;
  height: 30%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  transition: 0.5s ease;
  transform-style: preserve-3d;
  border-radius: 10px;
}
.flipped {
  transform: rotateY(180deg);
}
.card50 {
  width: 8.5%;
  height: 18%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  transition: 0.5s ease;
  border-radius: 10px;
}
/* menu */
#mainMenu {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#numCards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 40%;
}
.number {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: 1px solid red;
  margin-inline: 5%;
  height: 60%;
}
#styleCards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 40%;
}
.style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: 1px solid red;
  margin-inline: 5%;
  height: 100%;
}
/* couple for the card */
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}
.pink {
  background-color: pink;
}
.redCard {
  background-image: url("./img/retro carta rossa.webp");
  background-size: 140% 120%;
  background-position: center;
}
.blueCard {
  background-image: url("./img/retro carta blu.webp");
  background-size: 120% 120%;
  background-position: center;
}
.hide {
  display: none;
}
.opacity {
  opacity: 0;
}
.rightSet {
  transform: scale(1.1);
}
.borderSelected {
  border: 3px solid violet;
}
.eventNone {
  pointer-events: none;
}
